<div class="bg-light w-52 h-full">
  <section class="flex gap-1 items-center border-b py-3 px-2 border-b-gray-300">
    <img src="assets/img/logo.jpg" class="h-7" alt="logo">
    <span class="font-bold text-base text-app">Wildlife Invoicing</span>
  </section>
  <nav class="p-2 flex flex-col gap-2">
    <div routerLink="/admin/events"  routerLinkActive="active" class="nav-item active">
      <i class="fa fa-broom"></i>
      <span>Events</span>
    </div>
    <div routerLink="/admin/users"  routerLinkActive="active" class="nav-item">
      <i class="fa fa-users"></i>
      <span>Users</span>
    </div>
    <div routerLink="/admin/roles"  routerLinkActive="active" class="nav-item">
      <i class="fa fa-person-circle-check"></i>
      <span>Roles</span>
    </div>
  </nav>
</div>
